alembic==1.8.0
attrs==21.2.0
black==21.12b0
blinker==1.4
click==8.0.3
coverage==6.2
dnspython==2.1.0
email_validator==1.2.1
flake8==4.0.1
Flask==2.1.2
Flask_DebugToolbar==0.13.1
Flask_Login==0.6.1
Flask_Mail==0.9.1
Flask_Migrate==3.1.0
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.1
idna==3.3
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.920
mypy-extensions==0.4.3
numpy==1.23.0
opencv_python==4.6.0.66
packaging==21.3
pathspec==0.9.0
Pillow==9.2.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.6
pytest==7.1.2
pytest-cov==3.0.0
python-dotenv==0.19.2
SQLAlchemy==1.4.37
toml==0.10.2
tomli==1.2.3
torch==1.11.0
torchvision==0.12.0
Werkzeug==2.0.2
WTForms==3.0.1
typing_extensions==4.0.1